* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    background-color: #3F406C;
}

h1,
p {
    font-size: 18px;
}


/* Navbar */

#navbar {
    background-color: #52557E;
    height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shadow {
    -webkit-box-shadow: 1px 0 5px 0 #252644;
    box-shadow: 1px 0 5px 0 #252644;
}

#brand {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#brand img {
    padding: 0 15px;
    width: 45px;
}

#subscribe {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 400px;
    background-color: #5A5F89;
}

#subscribe p {
    color: #B3B8E4;
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
}

#subscribeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    background-color: #A88CD9;
}

#subscribeButton:hover {
    background-color: #C7AEF2;
}

#subscribeButton:active {
    background-color: #966EDC;
}

#subscribeButton img {
    height: 12px;
    width: 12px;
}


/* Cards container */

#container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 40px 100px;
    height: auto;
    width: 75vw;
    /* background-color: red; */
}

.card {
    height: 400px;
    background-color: #5A5F89;
    overflow: hidden;
}

.image {
    height: 45%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.one {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.ten {
    grid-column-end: span 2;
}

.specialCard {
    padding: 60px 30px;
    text-align: left;
}

.specialCard img {
    height: 15px;
}
