* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    background-color: #3F406C;
}

a {
    text-decoration: none;
}

h1,
p {
    font-size: 18px;
}


/* Navbar */

#navbar {
    background-color: #52557E;
    height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shadow {
    -webkit-box-shadow: 1px 0 5px 0 #252644;
    box-shadow: 1px 0 5px 0 #252644;
}

#brand {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#brand h1 {
    font-weight: 500;
}

#brand img {
    padding: 0 15px;
    width: 45px;
}

#subscribe {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    width: 400px;
    background-color: #5A5F89;
}

#subscribe p {
    color: #B3B8E4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
}

#subscribeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    background-color: #A88CD9;
}

#subscribeButton:hover {
    background-color: #C7AEF2;
}

#subscribeButton:active {
    background-color: #966EDC;
}

#subscribeButton img {
    height: 12px;
    width: 12px;
}


/* Font Awesome padding */

i {
    padding-right: 10px;
    font-size: 10px;
}


/* Cards container */

#container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 40px 100px;
    height: auto;
    width: 75vw;
    /* background-color: red; */
}

.card {
    height: 400px;
    background-color: #5A5F89;
    overflow: hidden;
}

.card:hover {
    background-color: #7278ac;
}

.card:hover .image {
    opacity: 0.7;
}

.card:active {
    background-color: #5961a7;
}

.image {
    height: 45%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
}

.one {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.ten {
    grid-column-end: span 2;
}

#specialCard {
    padding: 60px 30px;
    text-align: left;
}

#specialCard img {
    height: 15px;
    width: 40px;
}

#specialCard p {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 700;
}

#specialCard button {
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-weight: bold;
    background-color: #A88CD9;
}

#specialCard button:hover {
    background-color: #C7AEF2;
}

#specialCard button:active {
    background-color: #966EDC;
}

#specialCard button:focus {
    outline: none;
}

.card div {
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
}

.card div p:nth-child(1) {
    display: flex;
    color: #B3B8E4;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    padding-bottom: 10px;
}

.card div p:nth-child(2) {
    font-weight: 700;
}

.card div p:nth-child(3) {
    box-sizing: border-box;
    color: #d5d6df;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

footer p {
    font-size: 10px;
}

footer i {
    font-size: 20px;
    padding: 20px 20px 10px;
}

footer i:hover {
    color: #EE4266;
}

footer i:active {
    color: #E01541;
}
